<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=30) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=30) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    {% with messages = get_flashed_messages(category_filter=['danger']) %}
        {% if messages %}
            <ul style="color:red;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>